:root{
    --bg-primary: #9ba9aa;
    --bg-secondary: #ccd8d2;
    --bg-dark-primary: #161616;
    --bg-dark-secondary: #1d1e1f;
    --text-color-primary: #2e443a;
    --text-color-secondary: #119258;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.dark-theme{
    --bg-primary: var(--bg-dark-primary);
    --bg-secondary: var(--bg-dark-secondary);
    --text-color-primary: #ccd8d2;
}

#icon{
    width: 30px;
    cursor: pointer;
}

#menu{
    display: none;
}

.hero{
    background: var(--bg-ligh-secondary);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, var(--bg-primary), var(--bg-secondary));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--bg-primary), var(--bg-secondary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    position: relative;
}

nav{
    width: 84%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-primary);
}

nav ul li a:hover{
    color: var(--text-color-secondary); 
}

.info{
    margin-left: 8%;
    margin-top: 2%;
    max-width: 600px;
}

.info h1{
    font-size: 65px;
    font-weight: 700;
    color: var(--bg-dark-primary);
    margin-bottom: 15px;
}

span{
    color: var(--text-color-secondary);
}

.info p{
    color: var(--text-color-primary);
    line-height: 22px;
}

.info a{
    text-decoration: none;
    background: var(--text-color-primary);
    padding: 10px 18px;
    color: var(--bg-primary);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: all 1s ease;
}

.img-box:hover .back-img{
    bottom: 28px;
}

.img-box:hover .main-img{
    left: 54%;
}

.social-links{
    margin-left: 8%;
    margin-top: 50px;
}

.social-links a{
    font-size: 30px;
    color: var(--bg-dark-primary);
    margin-right: 20px;
}

.darkmode-links a{
    color: #ccd8d2;
}

.social-links a:hover{
    color: var(--text-color-secondary);
}

@media (max-width: 480px){
    .hero{
        height: 120vh;
        width: 100%;
        position: absolute;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        z-index: -1;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
    }
    .menu-links{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 13%;
        left: 0;
        width: 100%;
        text-align: center;
        height: 25%;
        background-color: #1d1e1f28;
        -webkit-backdrop-filter: blur(50px); 
        backdrop-filter: blur(50px); ;  
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }
    .menu-links li a{
        display: block;
    }
    @keyframes slideDown {
        from {
            transform: translateY(-20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .menu-links.active {
        display: flex;
        animation: slideDown 0.3s ease forwards;
    }
    nav ul li {
        margin: 10px 0;
    }
    #icon{
        right: 70px;
        position: absolute;
    }
    #menu{
        right: 18px;
        position: absolute;
        display: inline-block;
        cursor: pointer;
        width: 40px;
    }
    .img-box {
        width: 30%;
        height: 37%;
        position: absolute;
    }
    .img-box img{
        height: 100%;
        position: absolute;
        justify-content: center;
        align-items: center;
        left: -10%;
        transition: all 1s ease;
    }
    .img-box:hover .back-img{
        bottom: 15px;
    }
    .img-box:hover .main-img{
        left: 20%;
    }
    .info {
        margin: 0 20px;
        padding: 10px;
    }
    .info h1 {
        font-size: 35px;
        text-align: center;
    }
    .info p{
        font-size: 18px;
        margin: 15px 35px;
        text-align: center;
    }
    .info a{
        display: block;
        align-self: center;
        text-align: center;
        margin-bottom: 0;
    }
    .social-links {
        margin-top: 0;
        text-align: center;
    }
    .social-links{
        margin-top: 0;
    }
}